<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="firstname2">First Name:</label>
            <input type="text" class="form-control" id="firstname2">
        </div>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
        <label for="lastname2">Last Name:</label>
        <input type="text" class="form-control" id="lastname2">
    </div>
</div>
<div class="row">
    <div class="col-sm-9">
        <div class="form-group">
            <label for="email2">Email Address:</label>
            <input type="text" class="form-control" id="email2">
        </div>
    </div>
</div>