<div ng-show="ShowPanel" class="panel panel-primary">
    <h3 class="panel-heading" style="margin-top: 0;">Main Insured</h3>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="mititle">Title:</label>
                    <select ng-model="model.mainInsured.title" class="form-control" id="mititle" name="mititle">
                        <option value="MR">Mr</option>
                        <option value="MISS">Miss</option>
                        <option value="MRS">Mrs</option>
                        <option value="DR">Dr</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="mifirstname">First Name:</label>
                    <input type="text" ng-model="model.mainInsured.firstName" class="form-control" id="mifirstname" name="mifirstname">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label for="mimiddlename">Middle Name:</label>
                    <input type="text" ng-model="model.mainInsured.middleName" class="form-control" id="mimiddlename" name="mimiddlename">
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="milastname">Last Name:</label>
                    <input type="text" ng-model="model.mainInsured.lastName" class="form-control" id="milastname" name="milastname">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="midateofbirth">Date Of Birth:</label>
                    <input type="date" class="form-control" ng-change="model.mainInsured.age=CalculateAge(model.mainInsured.dateOfBirth)"
                           datepicker-popup ng-model="model.mainInsured.dateOfBirth" is-open="status.opened"
                           min-date="minDate" max-date="maxDate"
                           datepicker-options="dateOptions" date-disabled="disabled(date, mode)"
                           ng-required="true" close-text="Close" id="midateofbirth" />
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group">
                    <label for="miage">Age:</label>
                    <input type="text" disabled="disabled" value="{{model.mainInsured.age}}" class="form-control text-center text-danger" id="miage" name="miage">
                </div>
            </div>
            <div class="col-sm-3">
                <label for="migender">Gender:</label>
                <div class="btn-group" data-toggle="buttons" id="migender" ng-model="model.mainInsured.gender">
                    <label class="btn btn-info">
                        <input type="radio" id="migendermale" name="migendermale" value="M"/> Male
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" id="migenderfemale" name="migenderfemale" value="F"/> Female
                    </label>
                </div>
            </div>
            <div class="col-sm-3">
                <label for="mismoker">Smoker:</label>
                <div class="btn-group" data-toggle="buttons" id="mismoker" ng-model="model.mainInsured.snmoker">
                    <label class="btn btn-info">
                        <input type="radio" id="mismokerno" name="mismokerno" value="false" /> No
                    </label>
                    <label class="btn btn-info">
                        <input type="radio" id="mismokeryes" name="mismokeryes" value="true" /> Yes
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <div class="form-group">
                    <label for="miemail">Email Address:</label>
                    <input type="text" ng-model="model.mainInsured.Email" class="form-control" id="miemail" name="miemail">
                </div>
            </div>
        </div>
    </div>
</div>